page {
  height: 100%;
}
.iot-cates {
  height: 100%;
}
.iot-cates .iot-cates-container {
  height: calc( 100vh - 90rpx);
  display: flex;
}
.iot-cates .iot-cates-container .iot-left-menu {
  flex: 2;
}
.iot-cates .iot-cates-container .iot-left-menu .iot-menu-item {
  height: 80rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30rpx;
}
.iot-cates .iot-cates-container .iot-left-menu .iot-active {
  color: var(--themeColor);
  border-left: 5rpx solid currentColor;
}
.iot-cates .iot-cates-container .iot-right-content {
  flex: 5;
}
.iot-cates .iot-cates-container .iot-right-content .iot-goods-group .iot-goods-title {
  height: 80rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iot-cates .iot-cates-container .iot-right-content .iot-goods-group .iot-goods-title .iot-delimiter {
  color: #ccc;
  padding: 0 10rpx;
}
.iot-cates .iot-cates-container .iot-right-content .iot-goods-group .iot-goods-list {
  display: flex;
  flex-wrap: wrap;
}
.iot-cates .iot-cates-container .iot-right-content .iot-goods-group .iot-goods-list .iot-navigator {
  width: 33.33%;
  text-align: center;
}
.iot-cates .iot-cates-container .iot-right-content .iot-goods-group .iot-goods-list .iot-navigator image {
  width: 50%;
}
